#container {
  width: 50%;
  border-radius: 5px;
  padding: 10px;
  background-color: #dddddd;
  margin: 10% auto;
  text-align: center;
}

body{
	text-align:center;
	color: white;
	background-color: black;
}

#Header{
	color: #96C4F2;
	font-size: 100px;
	letter-spacing: -3px;
		
}

#Header a:hover{
  color: red;
}

 

#header{
	background-color: grey;
	margin: 5px;
	padding: 5px;
	border-radius: 3px;
}

#SPELLING{
	color: red;
	text-decoration: underline
}

#alphabets{
	background-color: grey;
	margin: 5px;
	padding: 5px;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
}

#alphabets a{
	color: green;
	background-color: darkgray;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer:
}

#alphabets a: hover{
	color: blue;
	background-color: silver;
	padding: 3px;
	border-radius: 3px;
}

#alphabets a .d{
	color: yellow
	text-decoration: underline;
}

@media (min-width: 1024px){#letters{width: 25%;}}
